html, body {
	background-color: #101010;
	background-image: radial-gradient(center bottom, ellipse cover, #29292b, #101010);
	background-image: -o-radial-gradient(center bottom, ellipse cover, #29292b, #101010);
	background-image: -ms-radial-gradient(center bottom, ellipse cover, #29292b, #101010);
	background-image: -moz-radial-gradient(center bottom, ellipse cover, #29292b, #101010);
	background-image: -webkit-radial-gradient(center bottom, ellipse cover, #29292b, #101010);
	width: 100%;
	height: 100%;
	margin: 0;
}
.container {
	width: 90%;
	height: 90%;
	left: 5%;
}
#surface {
	width: 100%;
	float: left;
	height: 100%;
	text-align: center;
}
.fig1 {
	position: absolute;
	background-color: white;
	width: 45.5%;
	height: 1.3%;
	top: 24.66%;
	left: 8.3%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig2 {
	position: absolute;
	background-color: white;
	width: 19%;
	height: 1.3%;
	top: 24.6%;
	left: 49.5%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig3 {
	position: absolute;
	background-color: white;
	width: 30%;
	height: 2.3%;
	top: 33%;
	left: 61%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig4 {
	position: absolute;
	background-color: white;
	width: 65.5%;
	height: 2.6%;
	top: 49.6%;
	left: 29.38%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig5 {
	position: absolute;
	background-color: white;
	width: 33.3%;
	height: 4.6%;
	top: 55.5%;
	left: 23.8%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig6 {
	position: absolute;
	background-color: white;
	width: 25%;
	height: 6.16%;
	top: 59%;
	left: 49.16%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
.fig7 {
	position: absolute;
	background-color: white;
	width: 10.3%;
	height: 2.83%;
	top: 55.5%;
	left: 78.16%;
	display: inline-block;
	-webkit-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	-moz-box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 45px 19px rgba(0, 0, 0, 0.54);
}
 @-webkit-keyframes rotate {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
 @-moz-keyframes rotate {
 from {
 -moz-transform: rotate(0deg);
 transform: rotate(0deg);
}
to {
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
 @-ms-keyframes rotate {
 from {
 -ms-transform: rotate(0deg);
 transform: rotate(0deg);
}
to {
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
 @-o-keyframes rotate {
 from {
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
to {
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
 @keyframes rotate {
 from {
 transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
.animated {
	-webkit-animation: rotate 600s linear infinite;
	-moz-animation: rotate 600s linear infinite;
	-ms-animation: rotate 600s linear infinite;
	-o-animation: rotate 600s linear infinite;
	animation: rotate 600s linear infinite;
}
.animated2 {
	-webkit-animation: rotate 480s linear infinite;
	-moz-animation: rotate 480s linear infinite;
	-ms-animation: rotate 480s linear infinite;
	-o-animation: rotate 480s linear infinite;
	animation: rotate 480s linear infinite;
}
.animated3 {
	-webkit-animation: rotate 700s linear infinite;
	-moz-animation: rotate 700s linear infinite;
	-ms-animation: rotate 700s linear infinite;
	-o-animation: rotate 700s linear infinite;
	animation: rotate 700s linear infinite;
}
.animated4 {
	-webkit-animation: rotate 300s linear infinite;
	-moz-animation: rotate 300s linear infinite;
	-ms-animation: rotate 300s linear infinite;
	-o-animation: rotate 300s linear infinite;
	animation: rotate 300s linear infinite;
}
.animated5 {
	-webkit-animation: rotate 500s linear infinite;
	-moz-animation: rotate 500s linear infinite;
	-ms-animation: rotate 500s linear infinite;
	-o-animation: rotate 500s linear infinite;
	animation: rotate 500s linear infinite;
}
.animated6 {
	-webkit-animation: rotate 350s linear infinite;
	-moz-animation: rotate 350s linear infinite;
	-ms-animation: rotate 350s linear infinite;
	-o-animation: rotate 350s linear infinite;
	animation: rotate 350s linear infinite;
}